@use "../../_variables.scss" as *;

.slider {
  margin: 0 auto;
  width: 98%;
  position: relative;
}


.slidersponsoritem {
 padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.16rem solid $textColorDark;
  border-radius: 0.8rem;
  background-color: $textColorWhite;
}

.itemimg {
	padding-bottom: 2rem;
	border-bottom: 0.05rem solid $textColorGrey;
	display: flex;
	justify-content: center;
	img {
		width: 60%;
		height: 5.4rem;
	}
}

.itemtext {
	@include text(1.4rem, 160%);
	padding-top: 3rem;
	text-align: center;
}


@media (max-width: 1024px) {
.slidersponsoritem {
  padding: 2rem;
}
}




