@use "../../_variables.scss" as *;

.slidersponsorcontainer {
  margin: 0 auto 6.4rem;
  width: 99%;
  position: relative;
}

.slidersponsoritem {
  max-width: 98%;
 padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.16rem solid $textColorDark;
  border-radius: 0.8rem;
  background-color: $textColorWhite;
}

.itemimg {
	width: 35.49rem;
	margin: 0 auto;
	padding-bottom: 2rem;
	border-bottom: 0.05rem solid $textColorGrey;
	display: flex;
	justify-content: center;
	img {
		height: 5.4rem;
	}
}

.itemtext {
	@include text(1.4rem, 160%);
	padding-top: 3rem;
	text-align: center;
}

  .arrowleft {
    @include decorSlider(left, bottom, 5rem, -22rem);
  }

  .arrowright {
    @include decorSlider(left, bottom, -10rem, -22rem);
  }


@media (max-width: 1024px) {
  .slidersponsoritem {
    padding: 2rem;
  }

}

@media (max-width: 480px) {
  .arrowleft {
    @include decorSlider(left, bottom, 5rem, -22rem);
  }

  .arrowright {
    @include decorSlider(left, bottom, -10rem, -22rem);
  }
}
