@use "../../_variables.scss" as *;

.slider {
  margin: 0 auto;
  width: 99%;
  position: relative;
}

.slidersponsoritem {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.16rem solid $textColorDark;
  border-radius: 0.8rem;
  background-color: $textColorWhite;
}

.itemimg {
  height: 5.4rem;
  padding-bottom: 2rem;
  border-bottom: 0.05rem solid $textColorGrey;
  display: flex;
  justify-content: center;
  img {
    width: 50%;
  }
}

.itemtext {
  @include text(1.4rem, 160%);
  padding-top: 3rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .slidersponsoritem {
    padding: 2rem;
  }

  .itemimg {
    height: 4rem;
    padding-bottom: 1rem;
  }

  .itemtext {
    padding-top: 1rem;
  }
}

@media (max-width: 480px) {
  .itemimg {
    height: 5rem;
  }
}
