@use "../../_variables.scss" as *;

/*hero*/

.buttons {
	margin-bottom: 14rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
	button {
		height: 6.2rem;
		&:first-child {
			box-shadow: 0.6rem 0.6rem 0 $buttonDarkShadowColor;
		}
	}
}

.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.item {
	padding: 5.9rem 0;
	min-width: 37.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $textColorWhite;
	border: 0.15rem solid $textColorDark;
	border-radius: 0.8rem;
	box-shadow: 0.6rem 0.6rem $textColorRed;
}

.digittext {
	@include title(5.93rem, 120%, 2%);
	margin-bottom: 2rem;
}

.digittextred {
	color: $textColorRed;
}

.text {
	@include text(1.6rem, 160%);
}