.buttongrey {
  height: 4.1rem;
  padding: 1.2rem 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #000000;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  transition: all 0.5s ease;
}
.buttongrey:hover {
  transform: scale(0.97);
}
@media (max-width: 768px) {
  .buttongrey {
    height: 3.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }
}

.buttondark {
  height: 4.1rem;
  padding: 1.2rem 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #000000;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  transition: all 0.5s ease;
  box-shadow: 0.3rem 0.3rem 0 #BFBFBF;
}
.buttondark:hover {
  transform: scale(0.97);
}
@media (max-width: 768px) {
  .buttondark {
    height: 3.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }
}