.hero {
  position: relative;
  padding: 6.4rem 0 14rem;
  background-color: #f7ede8;
}

.herotitle {
  font-size: 9.6rem;
  line-height: 100%;
  font-weight: 700;
  color: #000000;
  letter-spacing: -4%;
  margin-bottom: 4rem;
  text-align: center;
}

.herotitlered {
  color: #cd4631;
}

.herotext {
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
  margin: 0 auto 24.5rem;
  max-width: 37.4rem;
  text-align: center;
}

.heroslider {
  margin-bottom: 12rem;
}

.herolinks {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-top: 0.15rem solid #000000;
  border-bottom: 0.15rem solid #000000;
}

.herolinkstitle {
  font-size: 2.265rem;
  line-height: 140%;
  font-weight: 700;
  color: #000000;
  letter-spacing: -2%;
}

.herolink img {
  width: 100%;
}

.herodecorleft {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  max-width: 32rem;
}
.herodecorleft img {
  width: 100%;
}

.herodecorright {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 13.7rem;
}

.herodecordown {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: -7.5rem;
  transform: translate(-50%);
}

@media (max-width: 1180px) {
  .herotitle {
    font-size: 8rem;
    line-height: 100%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -4%;
  }
  .herodecorleft {
    max-width: 26rem;
  }
}
@media (max-width: 970px) {
  .herolink:first-child, .herolink:last-child {
    max-width: 10rem;
  }
  .herolink:nth-child(2) {
    max-width: 18rem;
  }
  .herodecorleft {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 18rem;
    max-width: 20rem;
  }
  .herodecorright {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 27rem;
  }
}
@media (max-width: 833px) {
  .herolinkstitle {
    display: none;
  }
}
@media (max-width: 600px) {
  .herotitle {
    font-size: 6rem;
    line-height: 100%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -4%;
  }
}
@media (max-width: 480px) {
  .hero {
    padding: 6.4rem 0;
  }
  .herotext {
    margin: 0 auto 8rem;
  }
  .herodecorleft,
  .herodecorright,
  .herodecordown {
    display: none;
  }
}
/*Talk-Listen*/
.talklisten {
  padding: 14rem 0;
}

.talklistentitle {
  font-size: 5.93rem;
  line-height: 120%;
  font-weight: 700;
  color: #000000;
  letter-spacing: -2%;
  margin: 0 auto 10rem;
  max-width: 77rem;
  text-align: center;
}

.talklistenitems {
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.talklistenitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.talklistenitemimg {
  margin-bottom: 4rem;
  max-width: 27.5rem;
}
.talklistenitemimg img {
  width: 100%;
}

.talklistenitemtext {
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
  max-width: 47.2rem;
  text-align: center;
}

.talklistenbanner {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background-color: #f7ede8;
}

.bannerquote {
  margin-bottom: 4rem;
  max-width: 43.8rem;
}
.bannerquote img {
  width: 100%;
}

.bannertitle {
  font-size: 3.665rem;
  line-height: 140%;
  font-weight: 700;
  color: #000000;
  letter-spacing: -2%;
  margin-bottom: 4rem;
  max-width: 70rem;
  text-align: center;
}

.bannermanblock {
  display: flex;
  align-items: center;
}

.banneravatar {
  margin-right: 1rem;
  max-width: 4.8rem;
}
.banneravatar img {
  width: 100%;
}

.bannername {
  font-size: 1.4rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
  margin-right: 1rem;
}

.bannerpositionbody {
  display: flex;
  align-items: center;
}

.bannergreencircle {
  margin-right: 0.8rem;
  max-width: 1.6rem;
}
.bannergreencircle img {
  width: 100%;
}

.bannerposition {
  font-size: 1.4rem;
  line-height: 160%;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .talklistentitle {
    font-size: 4.5rem;
    line-height: 120%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -2%;
  }
  .talklistenitemimg {
    max-width: 20rem;
  }
  .bannerquote {
    margin-bottom: 3rem;
    max-width: 36rem;
  }
  .bannertitle {
    font-size: 3rem;
    line-height: 140%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -2%;
    max-width: 60rem;
  }
}
@media (max-width: 480px) {
  .talklisten {
    padding: 6rem 0;
  }
  .talklistentitle {
    font-size: 4rem;
    line-height: 120%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -2%;
    margin-bottom: 6rem;
  }
  .talklistenitems {
    margin-bottom: 6rem;
    flex-direction: column;
  }
  .bannerquote {
    max-width: 26rem;
  }
  .bannertitle {
    font-size: 3.2rem;
    line-height: 120%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -2%;
  }
  .bannermanblock {
    flex-wrap: wrap;
  }
  .bannerpositionbody {
    margin-top: 2rem;
  }
}
/*feedback*/
.feedback {
  padding: 14rem 0 10rem;
  position: relative;
  background-color: #EDF3F7;
}

.feedbacktitleblock {
  margin: 0 auto 2rem;
  max-width: 72rem;
  position: relative;
  text-align: center;
}

.sectiontitle {
  font-size: 5.93rem;
  line-height: 120%;
  font-weight: 700;
  color: #000000;
  letter-spacing: -2%;
  margin-bottom: 2rem;
  text-align: center;
}

.feedbacktitledecor {
  position: absolute;
  top: -100%;
  left: -10.5rem;
  width: 10.5rem;
  height: 10.5rem;
}

.sectiontext {
  font-size: 2.265rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 10rem;
  text-align: center;
}

.feedbackupdecor {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: -7.5rem;
  transform: translate(-50%);
}

.feedbackdowndecor {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: -7.5rem;
  transform: translate(-50%);
}

@media (max-width: 1024px) {
  .sectiontitle {
    font-size: 5rem;
    line-height: 120%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -2%;
  }
  .feedbacktitledecor {
    width: 7rem;
    height: 7rem;
    left: -1rem;
    top: -90%;
  }
}
@media (max-width: 768px) {
  .feedbacktitledecor {
    display: none;
  }
  .feedbackupdecor {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: -5.6rem;
  }
}
@media (max-width: 480px) {
  .feedbackdowndecor,
  .feedbackupdecor {
    display: none;
  }
  .feedback {
    padding: 4rem 0 6rem;
  }
  .sectiontext {
    margin-bottom: 5rem;
  }
}
/*benefits*/
.benefits {
  padding: 14rem 0;
  position: relative;
}

.benefitstitleblock {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.benefitstitledecor {
  max-width: 24rem;
  position: absolute;
  top: -6rem;
  right: -7rem;
}
.benefitstitledecor img {
  width: 100%;
}

.benefitsitems {
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 2rem;
}

.benefitsitem {
  padding: 0 1.78rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.benefitsitemimg {
  margin-bottom: 3rem;
  max-width: 7.8rem;
}
.benefitsitemimg img {
  width: 100%;
}

.benefitsitemtitle {
  font-size: 2.265rem;
  line-height: 140%;
  font-weight: 700;
  color: #000000;
  letter-spacing: -2%;
  margin-bottom: 1rem;
  text-align: center;
}

.benefitsitemtext {
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
  text-align: center;
}

.benefitsbutton {
  display: flex;
  justify-content: center;
}

.benefitsdecor {
  position: absolute;
  left: 50%;
  bottom: -7.5rem;
  transform: translate(-50%);
  z-index: 2;
}

@media (max-width: 1024px) {
  .benefitstitledecor {
    width: 7rem;
    top: -2rem;
    right: -3rem;
  }
}
@media (max-width: 768px) {
  .benefits {
    padding: 8rem 0 14rem;
  }
  .benefitstitledecor {
    display: none;
  }
  .benefitsitems {
    margin-bottom: 8rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .benefitsitem {
    padding: 0 1rem;
  }
}
@media (max-width: 480px) {
  .benefits {
    padding: 8rem 0;
  }
  .benefitsdecor {
    display: none;
  }
  .benefitsitems {
    grid-template-columns: 1fr;
  }
}
/*episodes*/
.episodes {
  position: relative;
  padding: 14rem 0;
  background-color: #f7ede8;
}

.episodescontent {
  position: relative;
}

.episodesitems {
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.episodesitem,
.episodesitemshadow {
  padding: 1.6rem;
  border: 0.2rem solid #000000;
  border-radius: 1.2rem;
  background-color: #ffffff;
}

.episodesitemshadow {
  box-shadow: 1rem 1rem 0 #81adc8;
}

.episodesitemup {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episodesitemimg {
  margin-right: 2rem;
  flex: 0 0 16.6rem;
  height: 16.6rem;
}
.episodesitemimg img {
  width: 100%;
}

.episodesiteminfo {
  max-width: 35.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.episodesitemsubtitle {
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 0.4rem;
  color: #cd4631;
}

.episodesitemtitle,
.episodesitemtitlered {
  font-size: 2.265rem;
  line-height: 140%;
  font-weight: 700;
  color: #000000;
  letter-spacing: -2%;
  margin-bottom: 1.5rem;
  min-height: 6.4rem;
}

.episodesitemtitlered {
  color: #cd4631;
}

.episodesitemtext {
  font-size: 1.4rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
}

.episodesitemdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episodesitemcategories {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.episodesitemcategoory {
  font-size: 1.2rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
  padding: 0.6rem 1.2rem;
  border: 0.1rem solid #4d4d4d;
  border-radius: 0.4rem;
  color: #4d4d4d;
}

.episodesitemhost {
  font-size: 1.2rem;
  line-height: 160%;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.episodesbutton {
  display: flex;
  justify-content: center;
}

.episodesdecor {
  position: absolute;
  top: -11rem;
  right: -8rem;
}
.episodesdecor img {
  width: 100%;
}

.episodesdecorblack {
  position: absolute;
  left: 50%;
  bottom: -7.5rem;
  transform: translate(-50%);
  z-index: 2;
}

@media (max-width: 1400px) {
  .episodesdecor {
    display: none;
  }
}
@media (max-width: 1024px) {
  .episodesitem,
  .episodesitemshadow {
    padding: 1rem;
  }
  .episodesitemimg {
    flex: 0 0 15rem;
  }
  .episodesitemsubtitle {
    font-size: 1.4rem;
    line-height: 120%;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0;
    color: #cd4631;
  }
  .episodesitemtitle,
  .episodesitemtitlered {
    font-size: 1.8rem;
    line-height: 140%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -2%;
    margin-bottom: 1rem;
    min-height: 7.4rem;
  }
  .episodesitemtitlered {
    color: #cd4631;
  }
}
@media (max-width: 768px) {
  .episodes {
    padding: 10rem 0;
  }
  .episodesitems {
    grid-template-columns: 1fr;
  }
  .episodesitemimg {
    flex: 0 0 16.6rem;
  }
  .episodesiteminfo {
    max-width: 100%;
  }
  .episodesitemtitle,
  .episodesitemtitlered {
    font-size: 1.8rem;
    line-height: 140%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -2%;
    margin-bottom: 1rem;
    min-height: auto;
  }
  .episodesitemshadow {
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  .episodes {
    padding: 8rem 0;
  }
  .episodesitems {
    margin-bottom: 8rem;
  }
  .episodesitemimg {
    flex: 0 0 15rem;
  }
  .episodesitemtitle,
  .episodesitemtitlered {
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: 700;
    color: #000000;
    letter-spacing: -2%;
  }
  .episodesitemtext {
    font-size: 1.2rem;
    line-height: 140%;
    font-weight: 500;
    color: #4d4d4d;
  }
  .episodesdecorblack {
    display: none;
  }
  .episodesitemcategoory {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 500;
    color: #4d4d4d;
    padding: 0.6rem 1rem;
    border: 0.1rem solid #4d4d4d;
    border-radius: 0.4rem;
    color: #4d4d4d;
  }
}
/*pricing*/
.pricing {
  padding: 14rem 0;
}

.pricingtitleblock {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.pricingtitledecor {
  max-width: 24rem;
  position: absolute;
  top: -3rem;
  left: -5rem;
}
.pricingtitledecor img {
  width: 100%;
}

.pricingitems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.pricingitem,
.pricingitemred {
  padding: 6rem 4rem;
  border-radius: 0.8rem;
}

.pricingitem,
.pricingitemdop {
  border: 0.15rem solid #000000;
}

.pricingitemred,
.pricingitemdopred {
  border: 0.15rem solid #cd4631;
  background-color: #f7ede8;
}

.pricingitemtitle {
  font-size: 3.665rem;
  line-height: 140%;
  font-weight: 700;
  color: #000000;
  letter-spacing: 2%;
  margin-bottom: 2rem;
}

.pricingitemtext {
  font-size: 1.4rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 9rem;
  color: #4d4d4d;
}

.pricingitemblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricingitemprice {
  display: flex;
  flex-direction: column;
}
.pricingitemprice span:first-child {
  font-size: 2.265rem;
  line-height: 140%;
  font-weight: 700;
  color: #000000;
  letter-spacing: 2%;
  color: #cd4631;
}
.pricingitemprice span:last-child {
  font-size: 1.4rem;
  line-height: 160%;
  font-weight: 500;
  color: #4d4d4d;
  color: #4d4d4d;
}

.pricingitemdop,
.pricingitemdopred {
  padding: 4rem;
  border-radius: 0.8rem;
}