@use "../_variables.scss" as *;

.buttongrey {
    @include button(transparent, $textColorDark);
	text-transform: uppercase;
}

.buttondark {
    @include button(#000000, $textColorWhite );
	height: 6.2rem;
    box-shadow: 0.3rem 0.3rem 0 #BFBFBF;
	text-transform: uppercase;
}