@use "../../_variables.scss" as *;

.heroslider {
  margin-bottom: 12rem;
}

.herolinks {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-top: 0.15rem solid $textColorDark;
  border-bottom: 0.15rem solid $textColorDark;
}

.herolinkstitle {
  @include title(2.265rem, 140%, -2%);
}

.herolink {
  img {
    width: 100%;
  }
}

.herodecordown {
  @include decorSlider(left, bottom, 50%, -7.5rem);
  transform: translate(-50%);
}

@media (max-width: 970px) {
  .herolink {
    &:first-child,
    &:last-child {
      max-width: 10rem;
    }
    &:nth-child(2) {
      max-width: 18rem;
    }
  }
}

@media (max-width: 833px) {
  .herolinkstitle {
    display: none;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 6.4rem 0;
  }

  .herodecordown {
    display: none;
  }
}

/*feedback*/

.feedback {
  padding: 14rem 0 10rem;
  position: relative;
  background-color: $backgroundFeedback;
}

.feedbacktitleblock {
  margin: 0 auto 2rem;
  max-width: 72rem;
  position: relative;
  text-align: center;
}

.feedbacktitledecor {
  position: absolute;
  top: -100%;
  left: -10.5rem;
  width: 10.5rem;
  height: 10.5rem;
}

.feedbackupdecor {
  @include decorSlider(left, top, 50%, -7.5rem);
  transform: translate(-50%);
}

.feedbackdowndecor {
  @include decorSlider(left, bottom, 50%, -7.5rem);
  transform: translate(-50%);
}

@media (max-width: 1024px) {
  .feedbacktitledecor {
    width: 7rem;
    height: 7rem;
    left: -1rem;
    top: -90%;
  }
}

@media (max-width: 768px) {
  .feedbacktitledecor {
    display: none;
  }

  .feedbackupdecor {
    @include decorSlider(left, top, 50%, -5.6rem);
  }
}

@media (max-width: 480px) {
  .feedbackdowndecor,
  .feedbackupdecor {
    display: none;
  }

  .feedback {
    padding: 4rem 0 6rem;
  }
}
