@use "../../_variables.scss" as *;

.sliderfeedbackcontainer {
  position: relative;
  margin: 0 auto 6.4rem;
  width: 100%;
  position: relative;
  padding: 0 1.5rem;
}

.sliderfeedback {
  display: flex;
  gap: 2rem;
  height: 100%;
  transition: transform 0.8s ease-in-out;
  width: 100%;
  overflow: hidden;
}

.sliderfeedbackitem {
  flex: 0 1 49%;
  padding: 4rem;
  border-radius: 0.8rem;
  background-color: $textColorWhite;
}

.sliderfeedbackquote {
  margin-bottom: 3rem;
  width: 4.8rem;
}

.sliderfeedbacktext {
  margin-bottom: 3.2rem;
  @include text(2.265rem, 160%);
}

.sliderfeedbackperson {
  display: flex;
  align-items: center;
}

.sliderfeedbackpersonfoto {
  margin-right: 1rem;
  width: 4.8rem;
  height: 4.8rem;
}

.sliderfeedbackpersonname {
  @include text(1.4rem, 160%);
  margin-right: 1rem;
}

.sliderfeedbackpersonimg1 {
  max-width: 7.7rem;
}

.sliderfeedbackpersonimg2 {
  max-width: 14.1rem;
}

.arrows {
  position: absolute;
  bottom: -6rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  button:disabled {
	opacity: 0.3;
  }
}

@media (max-width: 1024px) {
  .sliderfeedbackitem {
    padding: 2rem;
  }

  .sliderfeedbackquote {
    width: 4rem;
  }

  .sliderfeedbacktext {
    @include text(2rem, 160%);
  }
}

@media (max-width: 768px) {
	.sliderfeedbackitem {
		flex: 0 1 100%;
	}
}

@media (max-width: 480px) {
  .arrowleft {
    @include decorSlider(left, bottom, 5rem, -22rem);
  }

  .arrowright {
    @include decorSlider(left, bottom, -10rem, -22rem);
  }
}
