@use "../../_variables.scss" as *;

.heroslider {
	width: 99%;
	margin: 0 auto;
}


@media (max-width: 768px) {
	.slideritem {
		max-width: 50%;
		img {
			width: 100%;
		}
	}
}
@media (max-width: 600px) {
	.slideritem {
		max-width: 100%;
	}
}




