@use "../../_variables.scss" as *;

.slideritem {
	display: flex !important;
	justify-content: center;
}

@media (max-width: 375px) {
	.slideritem {
		padding: 0 1rem;
	}
	img {
		max-width: 100%;
	}
}


