@use "../../_variables.scss" as *;

/*news*/
.news {
  position: relative;
  padding: 14rem 0;
}

.items {
  position: relative;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 2rem;
}


.itemsdecorup {
  position: absolute;
  left: -9rem;
  top: -6.5rem;
  width: 18.5rem;
  z-index: -1;
  img {
    width: 100%;
  }
}

.itemsdecordown {
  position: absolute;
  right: -14rem;
  bottom: -20rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
	width: 17.2rem;
  }
}

.decor {
  position: absolute;
  bottom: -7.5rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

@media (max-width: 1480px) {
  .itemsdecorup,
  .itemsdecordown {
    display: none;
  }
}

@media (max-width: 1024px) {
  .items {
    grid-template-columns: 1fr;
	gap: 4rem;
  }
}

@media (max-width: 480px) {
  .news {
    padding: 1rem 0 4rem ;
  }

  .items {
    margin-bottom: 8rem;
  }

  .decor {
    display: none;
  }
}


