@use "../../_variables.scss" as *;

/*news*/
.news {
  position: relative;
  padding: 14rem 0;
}

.items {
  position: relative;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 2rem;
}

.item {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  border: 0.2rem solid $textColorDark;
  background-color: $textColorWhite;
  transition: all 0.5s ease;
  &:hover {
	box-shadow: 1rem 1rem 0 $textColorDark;
  }
}


.img {
  margin-bottom: 4rem;
  max-width: 53.8rem;
  height: 32rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentup {
  padding-bottom: 2.6rem;
  border-bottom: 0.05rem solid $textColorGrey;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.ssubtitle {
  @include title(1.4rem, 160%, 0);
  margin-bottom: 0.6rem;
  color: $textColorGrey;
  text-transform: uppercase;
}

.title,
.titlered {
  @include title(3.665rem, 140%, 2%);
  margin-bottom: 2rem;
}

.titlered {
  color: $textColorRed;
}

.text {
  @include text(1.4rem, 160%);
  margin-top: auto;
}

.categories {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoriesbody {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.category {
  @include text(1.2rem, 160%);
  padding: 0.6rem 1.2rem;
  border: 0.1rem solid $textColorGrey;
  border-radius: 0.4rem;
  color: $textColorGrey;
}

.date {
  @include title(1.2rem, 160%, 0);
}

.itemsdecorup {
  position: absolute;
  left: -9rem;
  top: -6.5rem;
  width: 18.5rem;
  z-index: -1;
  img {
    width: 100%;
  }
}

.itemsdecordown {
  position: absolute;
  right: -14rem;
  bottom: -20rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
	width: 17.2rem;
  }
}

.decor {
  position: absolute;
  bottom: -7.5rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

@media (max-width: 1480px) {
  .itemsdecorup,
  .itemsdecordown {
    display: none;
  }

  .title,
  .titlered {
    @include title(3rem, 140%, 2%);
  }

  .titlered {
    color: $textColorRed;
  }

  .categories {
    flex-direction: column;
    gap: 2rem;
  }

  .categoriesbody {
    align-self: start;
  }

  .date {
    align-self: flex-end;
  }
}

@media (max-width: 1024px) {
  .items {
    grid-template-columns: 1fr;
	gap: 4rem;
  }

  .img {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .news {
    padding: 1rem 0 4rem ;
  }

  .items {
    margin-bottom: 8rem;
  }

  .decor {
    display: none;
  }
}

@media (max-width: 375px) {
  .itemshadow {
    box-shadow: none;
  }

  .title,
  .titlered {
    @include title(2.6rem, 140%, 2%);
  }

  .titlered {
    color: $textColorRed;
  }
}
