@use "../../_variables.scss" as *;

/*Talk-Listen*/
.talklisten {
  padding: 14rem 0;
}

.title {
  @include title(5.93rem, 120%, -2%);
  margin: 0 auto 10rem;
  max-width: 77rem;
  text-align: center;
}

.items {
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.itemimg {
  margin-bottom: 4rem;
  max-width: 27.5rem;
  img {
    width: 100%;
  }
}

.itemtext {
  @include text(1.6rem, 160%);
  max-width: 47.2rem;
  text-align: center;
}

.banner {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background-color: $backgroundHeaderHero;
}

.bannerquote {
  margin-bottom: 4rem;
  max-width: 43.8rem;
  img {
    max-width: 100%;
  }
}

.bannertitle {
  @include title(3.665rem, 140%, -2%);
  margin-bottom: 4rem;
  max-width: 70rem;
  text-align: center;
}

.bannermanblock {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.banneravatar {
  margin-right: 1rem;
  max-width: 4.8rem;
  img {
    width: 100%;
  }
}

.bannername {
  @include text(1.4rem, 160%);
  margin-right: 1rem;
}

.bannerpositionbody {
  display: flex;
  align-items: center;
}

.bannergreencircle {
  margin-right: 0.8rem;
  max-width: 1.6rem;
  img {
    width: 100%;
  }
}

.bannerposition {
  @include title(1.4rem, 160%, 0%);
}

@media (max-width: 768px) {
  .title {
    @include title(4.5rem, 120%, -2%);
  }

  .itemimg {
    max-width: 20rem;
  }

  .bannerquote {
    margin-bottom: 3rem;
    max-width: 36rem;
  }

  .bannertitle {
    @include title(3rem, 140%, -2%);
    max-width: 60rem;
  }
}

@media (max-width: 480px) {
  .talklisten {
    padding: 6rem 0;
  }

  .title {
    @include title(3.2rem, 120%, -2%);
    margin-bottom: 6rem;
  }

  .items {
    margin-bottom: 6rem;
    flex-direction: column;
  }

  .bannerquote {
    max-width: 18rem;
  }

  .bannertitle {
    @include title(2.8rem, 120%, -2%);
  }

  .bannermanblock {
    flex-wrap: wrap;
  }
}