@use "../_variables.scss" as *;

.hero {
  position: relative;
  padding: 6.4rem 0 14rem;
  background-color: $backgroundHeaderHero;
}

.herotitle {
  @include title(9.6rem, 100%, 4%);
  margin-bottom: 4rem;
  text-align: center;
}

.herotitlered {
  color: $textColorRed;
}

.herotext {
  @include text(1.6rem, 160%);
  margin: 0 auto 7rem;
  max-width: 37.4rem;
  text-align: center;
}

.herobutton {
  margin-bottom: 14rem;
  display: flex;
  justify-content: center;
  button {
    width: 19.3rem;
  }
}

@media (max-width: 1180px) {
  .herotitle {
    @include title(8rem, 100%, 4%);
  }
}

.sectiontitle {
  @include title(5.93rem, 120%, -2%);
  margin-bottom: 2rem;
  text-align: center;
}

.herodecorleft {
  @include decorSlider(left, top, 0, 0);
  max-width: 32rem;
  img {
    width: 100%;
  }
}

.herodecorright {
  @include decorSlider(right, top, 0, 13.7rem);
}

@media (max-width: 1180px) {
  .herodecorleft {
    max-width: 26rem;
  }
}

@media (max-width: 970px) {
  .herodecorleft {
    @include decorSlider(left, top, 0, 18rem);
    max-width: 20rem;
  }

  .herodecorright {
    @include decorSlider(right, top, 0, 27rem);
  }
}

@media (max-width: 600px) {
  .herotitle {
    @include title(6rem, 100%, 4%);
  }

  .herodecorleft,
  .herodecorright {
    display: none;
  }
}

@media (max-width: 480px) {
  .hero {
     padding: 6.4rem 0;
  }
  .herotitle {
    @include title(4rem, 100%, 4%);
  }

  .herotext {
    margin: 0 auto 6rem;
  }

  .herobutton  {
    margin-bottom: 8rem;
  }
}

@media (max-width: 375px) {
	.herotitle {
		 @include title(3.8rem, 100%, 4%);
	}
}

.sectiontext {
  @include text(2.265rem, 160%);
  margin-bottom: 10rem;
  text-align: center;
}

.sectiondecordown {
  @include decorSlider(left, bottom, 50%, -7.5rem);
  transform: translate(-50%);
}


@media (max-width: 1024px) {
  .sectiontitle {
    @include title(5rem, 120%, -2%);
  }
}

@media (max-width: 480px) {
  .sectiontitle {
    @include title(3.2rem, 120%, -2%);
  }

  .sectiontext {
    @include text(1.8rem, 160%);
    margin-bottom: 5rem;
  }

  .sectiondecordown {
	display: none;
  }
}

/*banner*/
.banner {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background-color: $backgroundHeaderHero;
}

.bannerquote {
  margin-bottom: 4rem;
  max-width: 43.8rem;
  img {
    max-width: 100%;
  }
}

.bannertitle {
  @include title(3.665rem, 140%, -2%);
  margin-bottom: 4rem;
  max-width: 70rem;
  text-align: center;
}

.bannermanblock {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.banneravatar {
  margin-right: 1rem;
  max-width: 4.8rem;
  img {
    width: 100%;
  }
}

.bannername {
  @include text(1.4rem, 160%);
  margin-right: 1rem;
}

.bannerpositionbody {
  display: flex;
  align-items: center;
}

.bannergreencircle {
  margin-right: 0.8rem;
  max-width: 1.6rem;
  img {
    width: 100%;
  }
}

.bannerposition {
  @include title(1.4rem, 160%, 0%);
}

@media (max-width: 768px) {
	 .bannerquote {
    margin-bottom: 3rem;
    max-width: 36rem;
  }

  .bannertitle {
    @include title(3rem, 140%, -2%);
    max-width: 60rem;
  }
}

@media (max-width: 480px) {
  .bannerquote {
    max-width: 18rem;
  }

  .bannertitle {
    @include title(2.8rem, 120%, -2%);
  }

  .bannermanblock {
    flex-wrap: wrap;
  }
}

