@use "../_variables.scss" as *;

.hero {
  position: relative;
  padding: 6.4rem 0 14rem;
  background-color: $backgroundHeaderHero;
}

.herotitle {
  @include title(9.6rem, 100%, -4%);
  margin-bottom: 4rem;
  text-align: center;
}

.herotitlered {
  color: $textColorRed;
}

.herotext {
  @include text(1.6rem, 160%);
  margin: 0 auto 24.5rem;
  max-width: 37.4rem;
  text-align: center;
}

.heroslider {
  margin-bottom: 12rem;
}

.herolinks {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-top: 0.15rem solid $textColorDark;
  border-bottom: 0.15rem solid $textColorDark;
}

.herolinkstitle {
  @include title(2.265rem, 140%, -2%);
}

.herolink {
  img {
    width: 100%;
  }
}

.herodecorleft {
  @include decorSlider(left, top, 0, 0);
  max-width: 32rem;
  img {
    width: 100%;
  }
}

.herodecorright {
  @include decorSlider(right, top, 0, 13.7rem);
}

.herodecordown {
  @include decorSlider(left, bottom, 50%, -7.5rem);
  transform: translate(-50%);
}

@media (max-width: 1180px) {
  .herotitle {
    @include title(8rem, 100%, -4%);
  }

  .herodecorleft {
    max-width: 26rem;
  }
}

@media (max-width: 970px) {
  .herolink {
    &:first-child,
    &:last-child {
      max-width: 10rem;
    }
    &:nth-child(2) {
      max-width: 18rem;
    }
  }

  .herodecorleft {
    @include decorSlider(left, top, 0, 18rem);
    max-width: 20rem;
  }

  .herodecorright {
    @include decorSlider(right, top, 0, 27rem);
  }
}

@media (max-width: 833px) {
  .herolinkstitle {
    display: none;
  }
}

@media (max-width: 600px) {
  .herotitle {
    @include title(6rem, 100%, -4%);
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 6.4rem 0;
  }
  .herotext {
    margin: 0 auto 8rem;
  }
  .herodecorleft,
  .herodecorright,
  .herodecordown {
    display: none;
  }
}

/*Talk-Listen*/
.talklisten {
  padding: 14rem 0;
}

.talklistentitle {
  @include title(5.93rem, 120%, -2%);
  margin: 0 auto 10rem;
  max-width: 77rem;
  text-align: center;
}

.talklistenitems {
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.talklistenitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.talklistenitemimg {
  margin-bottom: 4rem;
  max-width: 27.5rem;
  img {
    width: 100%;
  }
}

.talklistenitemtext {
  @include text(1.6rem, 160%);
  max-width: 47.2rem;
  text-align: center;
}

.talklistenbanner {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background-color: $backgroundHeaderHero;
}

.bannerquote {
  margin-bottom: 4rem;
  max-width: 43.8rem;
  img {
    width: 100%;
  }
}

.bannertitle {
  @include title(3.665rem, 140%, -2%);
  margin-bottom: 4rem;
  max-width: 70rem;
  text-align: center;
}

.bannermanblock {
  display: flex;
  align-items: center;
}

.banneravatar {
  margin-right: 1rem;
  max-width: 4.8rem;
  img {
    width: 100%;
  }
}

.bannername {
  @include text(1.4rem, 160%);
  margin-right: 1rem;
}

.bannerpositionbody {
  display: flex;
  align-items: center;
}

.bannergreencircle {
  margin-right: 0.8rem;
  max-width: 1.6rem;
  img {
    width: 100%;
  }
}

.bannerposition {
  @include title(1.4rem, 160%, 0%);
}

@media (max-width: 768px) {
  .talklistentitle {
    @include title(4.5rem, 120%, -2%);
  }

  .talklistenitemimg {
    max-width: 20rem;
  }

  .bannerquote {
    margin-bottom: 3rem;
    max-width: 36rem;
  }

  .bannertitle {
    @include title(3rem, 140%, -2%);
    max-width: 60rem;
  }
}

@media (max-width: 480px) {
  .talklisten {
    padding: 6rem 0;
  }

  .talklistentitle {
    @include title(4rem, 120%, -2%);
    margin-bottom: 6rem;
  }

  .talklistenitems {
    margin-bottom: 6rem;
    flex-direction: column;
  }

  .bannerquote {
    max-width: 26rem;
  }

  .bannertitle {
    @include title(3.2rem, 120%, -2%);
  }

  .bannermanblock {
    flex-wrap: wrap;
  }

  .bannerpositionbody {
    margin-top: 2rem;
  }
}

/*feedback*/

.feedback {
  padding: 14rem 0 10rem;
  position: relative;
  background-color: $backgroundFeedback;
}

.feedbacktitleblock {
  margin: 0 auto 2rem;
  max-width: 72rem;
  position: relative;
  text-align: center;
}

.sectiontitle {
  @include title(5.93rem, 120%, -2%);
  margin-bottom: 2rem;
  text-align: center;
}

.feedbacktitledecor {
  position: absolute;
  top: -100%;
  left: -10.5rem;
  width: 10.5rem;
  height: 10.5rem;
}

.sectiontext {
  @include text(2.265rem, 160%);
  margin-bottom: 10rem;
  text-align: center;
}

.feedbackupdecor {
  @include decorSlider(left, top, 50%, -7.5rem);
  transform: translate(-50%);
}

.feedbackdowndecor {
  @include decorSlider(left, bottom, 50%, -7.5rem);
  transform: translate(-50%);
}

@media (max-width: 1024px) {
  .sectiontitle {
    @include title(5rem, 120%, -2%);
  }

  .feedbacktitledecor {
    width: 7rem;
    height: 7rem;
    left: -1rem;
    top: -90%;
  }
}

@media (max-width: 768px) {
  .feedbacktitledecor {
    display: none;
  }

  .feedbackupdecor {
    @include decorSlider(left, top, 50%, -5.6rem);
  }
}

@media (max-width: 480px) {
  .feedbackdowndecor,
  .feedbackupdecor {
    display: none;
  }

  .feedback {
    padding: 4rem 0 6rem;
  }

  .sectiontitle {
    @include title(4rem, 120%, -2%);
  }

  .sectiontext {
    margin-bottom: 5rem;
  }
}

/*benefits*/
.benefits {
  padding: 14rem 0;
  position: relative;
}

.benefitstitleblock {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.benefitstitledecor {
  max-width: 24rem;
  position: absolute;
  top: -6rem;
  right: -7rem;
  img {
    width: 100%;
  }
}

.benefitsitems {
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 2rem;
}

.benefitsitem {
  padding: 0 1.78rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.benefitsitemimg {
  margin-bottom: 3rem;
  max-width: 7.8rem;
  img {
    width: 100%;
  }
}

.benefitsitemtitle {
  @include title(2.265rem, 140%, -2%);
  margin-bottom: 1rem;
  text-align: center;
}

.benefitsitemtext {
  @include text(1.6rem, 160%);
  text-align: center;
}

.benefitsbutton {
  display: flex;
  justify-content: center;
}

.benefitsdecor {
  position: absolute;
  left: 50%;
  bottom: -7.5rem;
  transform: translate(-50%);
  z-index: 2;
}

@media (max-width: 1024px) {
  .benefitstitledecor {
    width: 7rem;
    top: -2rem;
    right: -3rem;
  }
}

@media (max-width: 768px) {
  .benefits {
    padding: 8rem 0 14rem;
  }
  .benefitstitledecor {
    display: none;
  }

  .benefitsitems {
    margin-bottom: 8rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .benefitsitem {
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .benefits {
    padding: 8rem 0;
  }

  .benefitsdecor {
    display: none;
  }

  .benefitsitems {
    grid-template-columns: 1fr;
  }
}

/*episodes*/
.episodes {
  position: relative;
  padding: 14rem 0;
  background-color: $backgroundHeaderHero;
}

.episodescontent {
  position: relative;
}

.episodesitems {
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.episodesitem,
.episodesitemshadow {
  padding: 1.6rem;
  border: 0.2rem solid $textColorDark;
  border-radius: 1.2rem;
  background-color: $textColorWhite;
}

.episodesitemshadow {
  box-shadow: 1rem 1rem 0 $textColorSliderTitle;
}

.episodesitemup {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episodesitemimg {
  margin-right: 2rem;
  flex: 0 0 16.6rem;
  height: 16.6rem;
  img {
    width: 100%;
  }
}

.episodesiteminfo {
  max-width: 35.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.episodesitemsubtitle {
  @include title(1.6rem, 160%, 0);
  margin-bottom: 0.4rem;
  color: $textColorRed;
}

.episodesitemtitle,
.episodesitemtitlered {
  @include title(2.265rem, 140%, -2%);
  margin-bottom: 1.5rem;
  min-height: 6.4rem;
}

.episodesitemtitlered {
  color: $textColorRed;
}

.episodesitemtext {
  @include text(1.4rem, 160%);
}

.episodesitemdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episodesitemcategories {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.episodesitemcategoory {
  @include text(1.2rem, 160%);
  padding: 0.6rem 1.2rem;
  border: 0.1rem solid $textColorGrey;
  border-radius: 0.4rem;
  color: $textColorGrey;
}

.episodesitemhost {
  @include title(1.2rem, 160%, 0);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.episodesbutton {
  display: flex;
  justify-content: center;
}

.episodesdecor {
  position: absolute;
  top: -11rem;
  right: -8rem;
  img {
    width: 100%;
  }
}

.episodesdecorblack {
  position: absolute;
  left: 50%;
  bottom: -7.5rem;
  transform: translate(-50%);
  z-index: 2;
}

@media (max-width: 1400px) {
  .episodesdecor {
    display: none;
  }
}

@media (max-width: 1024px) {
  .episodesitem,
  .episodesitemshadow {
    padding: 1rem;
  }

  .episodesitemimg {
    flex: 0 0 15rem;
  }

  .episodesitemsubtitle {
    @include title(1.4rem, 120%, 0);
    color: $textColorRed;
  }

  .episodesitemtitle,
  .episodesitemtitlered {
    @include title(1.8rem, 140%, -2%);
    margin-bottom: 1rem;
    min-height: 7.4rem;
  }

  .episodesitemtitlered {
    color: $textColorRed;
  }
}

@media (max-width: 768px) {
  .episodes {
    padding: 10rem 0;
  }

  .episodesitems {
    grid-template-columns: 1fr;
  }

  .episodesitemimg {
    flex: 0 0 16.6rem;
  }

  .episodesiteminfo {
    max-width: 100%;
  }

  .episodesitemtitle,
  .episodesitemtitlered {
    @include title(1.8rem, 140%, -2%);
    margin-bottom: 1rem;
    min-height: auto;
  }

  .episodesitemshadow {
    box-shadow: none;
  }
}

@media (max-width: 480px) {
  .episodes {
    padding: 8rem 0;
  }

  .episodesitems {
    margin-bottom: 8rem;
  }

  .episodesitemimg {
    flex: 0 0 15rem;
  }

  .episodesitemtitle,
  .episodesitemtitlered {
    @include title(1.6rem, 140%, -2%);
  }

  .episodesitemtext {
    @include text(1.2rem, 140%);
  }

  .episodesdecorblack {
    display: none;
  }

  .episodesitemcategoory {
    @include text(1rem, 140%);
    padding: 0.6rem 1rem;
    border: 0.1rem solid $textColorGrey;
    border-radius: 0.4rem;
    color: $textColorGrey;
  }
}

/*pricing*/
.pricing {
  padding: 14rem 0;
  position: relative;
}

.pricingtitleblock {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.pricingtitledecor {
  max-width: 24rem;
  position: absolute;
  top: -3rem;
  left: -5rem;
  img {
    width: 100%;
  }
}

.pricingitems {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  z-index: 3;
}

.pricingitem,
.pricingitemred {
  padding: 6rem 4rem;
  border-radius: 0.8rem;
}

.pricingitem,
.pricingitemdop,
.pricingitemdoppos {
  border: 0.15rem solid $textColorDark;
  background-color: $textColorWhite;
}

.pricingitemred,
.pricingitemdopred {
  border: 0.15rem solid $textColorRed;
  background-color: $backgroundHeaderHero;
}

.pricingitemtitle {
  @include title(3.665rem, 140%, 2%);
  margin-bottom: 2rem;
}

.pricingitemtext {
  @include text(1.4rem, 160%);
  margin-bottom: 9rem;
  color: $textColorGrey;
}

.pricingitemblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricingitemprice {
  display: flex;
  flex-direction: column;

  span:first-child {
    @include title(2.265rem, 140%, 2%);
    color: $textColorRed;
  }
  span:last-child {
    @include text(1.4rem, 160%);
    color: $textColorGrey;
  }
}

.pricingitemdop,
.pricingitemdopred,
.pricingitemdoppos {
  padding: 4rem;
  border-radius: 0.8rem;
}

.pricingitemdoptext {
  @include title(1.4rem, 160%, 0); 
  margin-bottom: 2rem;
  color: $textColorGrey;
}

.pricingitemdopitem {
  @include text(1.6rem, 160%);
  list-style-type: disc;
  &:not(:last-child){
    margin-bottom: 1rem;
  }
}

.pricingitemsdecorup {
  position: absolute;
  top: -9rem;
  right: -8.7rem;
  width: 20rem;
  height: 20rem;
  z-index: -1;
  img {
    width: 100%;
  }
}

.pricingitemsdecordonw {
  position: absolute;
  bottom: -4rem;
  left: -7rem;
  width: 12rem;
  height: 12rem;
  z-index: -1;
  img {
    width: 100%;
  }
}

.pricingdecor {
  position: absolute;
  left: 50%;
  bottom: -7.5rem;
  transform: translate(-50%);
  z-index: 2;
}

@media (max-width: 1400px) {
  .pricingitemsdecorup,
  .pricingitemsdecordonw {
    display: none;
  }
}

@media (max-width: 1024px) {
  .pricingitem,
  .pricingitemred {
    padding: 2rem;
  }

  .pricingitemdop,
  .pricingitemdopred,
  .pricingitemdoppos {
    padding: 2rem 2rem 2rem 3rem;
  }

  .pricingitemtitle {
     @include title(3rem, 140%, 2%);
  }
  .pricingitemblock {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .pricingitemprice {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .pricing {
    padding: 10rem 0;
  }

  .pricingdecor {
    display: none;
  }

  .pricingtitledecor {
    display: none;
  }

  .pricingitems {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricingitemdoppos {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
  }

  .pricingitemdopred {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .pricingitemtext {
    margin-bottom: 4rem;
  }
}

@media (max-width: 480px) {
  .pricing {
    padding: 8rem 0;
  }
  .pricingitems {
    grid-template-columns: 1fr;
  }

  .pricingitemdopred {
    grid-row: 4 /5;
    grid-column: 1 / 2;
  }
}