@use "../_variables.scss" as *;

.hero {
  position: relative;
  padding: 6.4rem 0 14rem;
  background-color: $backgroundHeaderHero;
}

.herotitle {
  @include title(9.6rem, 100%, -4%);
  margin-bottom: 4rem;
  text-align: center;
}

.herotitlered {
  color: $textColorRed;
}

.herotext {
  @include text(1.6rem, 160%);
  margin: 0 auto 24.5rem;
  max-width: 37.4rem;
  text-align: center;
}

.heroslider {
  margin-bottom: 12rem;
}

.herolinks {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-top: 0.15rem solid $textColorDark;
  border-bottom: 0.15rem solid $textColorDark;
}

.herolinkstitle {
  @include title(2.265rem, 140%, -2%);
}

.herolink {
  img {
    width: 100%;
  }
}

.herodecorleft {
  @include decorSlider(left, top, 0, 0);
  max-width: 32rem;
  img {
    width: 100%;
  }
}

.herodecorright {
  @include decorSlider(right, top, 0, 13.7rem);
}

.herodecordown {
  @include decorSlider(left, bottom, 50%, -7.5rem);
  transform: translate(-50%);
}

@media (max-width: 1180px) {
  .herotitle {
    @include title(8rem, 100%, -4%);
  }

  .herodecorleft {
    max-width: 26rem;
  }
}

@media (max-width: 970px) {
  .herolink {
    &:first-child,
    &:last-child {
      max-width: 10rem;
    }
    &:nth-child(2) {
      max-width: 18rem;
    }
  }

  .herodecorleft {
    @include decorSlider(left, top, 0, 18rem);
    max-width: 20rem;
  }

  .herodecorright {
    @include decorSlider(right, top, 0, 27rem);
  }
}

@media (max-width: 833px) {
  .herolinkstitle {
    display: none;
  }
}

@media (max-width: 600px) {
  .herotitle {
    @include title(6rem, 100%, -4%);
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 6.4rem 0;
  }
  .herotext {
    margin: 0 auto 8rem;
  }
  .herodecorleft,
  .herodecorright,
  .herodecordown {
    display: none;
  }
}

/*Talk-Listen*/
.talklisten {
  padding: 14rem 0;
}

.talklistentitle {
  @include title(5.93rem, 120%, -2%);
  margin: 0 auto 10rem;
  max-width: 77rem;
  text-align: center;
}

.talklistenitems {
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.talklistenitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.talklistenitemimg {
  margin-bottom: 4rem;
  max-width: 27.5rem;
  img {
    width: 100%;
  }
}

.talklistenitemtext {
  @include text(1.6rem, 160%);
  max-width: 47.2rem;
  text-align: center;
}

.talklistenbanner {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background-color: $backgroundHeaderHero;
}

.bannerquote {
  margin-bottom: 4rem;
  max-width: 43.8rem;
  img {
    width: 100%;
  }
}

.bannertitle {
  @include title(3.665rem, 140%, -2%);
  margin-bottom: 4rem;
  max-width: 70rem;
  text-align: center;
}

.bannermanblock {
  display: flex;
  align-items: center;
}

.banneravatar {
  margin-right: 1rem;
  max-width: 4.8rem;
  img {
    width: 100%;
  }
}

.bannername {
  @include text(1.4rem, 160%);
  margin-right: 1rem;
}

.bannerpositionbody {
  display: flex;
  align-items: center;
}

.bannergreencircle {
  margin-right: 0.8rem;
  max-width: 1.6rem;
  img {
    width: 100%;
  }
}

.bannerposition {
  @include title(1.4rem, 160%, 0%);
}

@media (max-width: 768px) {
  .talklistentitle {
    @include title(4.5rem, 120%, -2%);
  }

  .talklistenitemimg {
    max-width: 20rem;
  }

  .bannerquote {
    margin-bottom: 3rem;
    max-width: 36rem;
  }

  .bannertitle {
    @include title(3rem, 140%, -2%);
    max-width: 60rem;
  }
}

@media (max-width: 480px) {
  .talklisten {
    padding: 6rem 0;
  }

  .talklistentitle {
    @include title(4rem, 120%, -2%);
    margin-bottom: 6rem;
  }

  .talklistenitems {
    margin-bottom: 6rem;
    flex-direction: column;
  }

  .bannerquote {
    max-width: 26rem;
  }

  .bannertitle {
    @include title(3.2rem, 120%, -2%);
  }

  .bannermanblock {
    flex-wrap: wrap;
  }

  .bannerpositionbody {
    margin-top: 2rem;
  }
}

/*feedback*/

.feedback {
  padding: 14rem 0 10rem;
  position: relative;
  background-color: $backgroundFeedback;
}

.feedbacktitleblock {
  margin: 0 auto 2rem;
  max-width: 72rem;
  position: relative;
  text-align: center;
}

.feedbacktitle {
  @include title(5.93rem, 120%, -2%);
}

.feedbacktitledecor {
  position: absolute;
  top: -100%;
  left: -10.5rem;
  width: 10.5rem;
  height: 10.5rem;
}

.feedbacktext {
  @include text(2.265rem, 160%);
  margin-bottom: 10rem;
  text-align: center;
}

.feedbackupdecor {
  @include decorSlider(left, top, 50%, -7.5rem);
  transform: translate(-50%);
}

.feedbackdowndecor {
  @include decorSlider(left, bottom, 50%, -7.5rem);
  transform: translate(-50%);
}

@media (max-width: 1024px) {
  .feedbacktitle {
    @include title(5rem, 120%, -2%);
  }

  .feedbacktitledecor {
    width: 7rem;
    height: 7rem;
    left: -1rem;
    top: -90%;
  }
}

@media (max-width: 768px) {
  .feedbacktitledecor {
    display: none;
  }

  .feedbackupdecor {
    @include decorSlider(left, top, 50%, -5.6rem);
  }
}

@media (max-width: 480px) {
  .feedbackdowndecor,
  .feedbackupdecor {
    display: none;
  }

  .feedback {
    padding: 4rem 0 6rem;
  }

  .feedbacktext {
    margin-bottom: 5rem;
  }
}

/*benefits*/
.benefits {
  padding: 14rem 0;
  position: relative;
}

.benefitstitleblock {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.benefitstitle {
  @include title(5.93rem, 120%, -2%);
  margin-bottom: 2rem;
  text-align: center;
}

.benefitstitledecor {
  max-width: 24rem;
  position: absolute;
  top: -6rem;
  right: -7rem;
  img {
    width: 100%;
  }
}

.benefitstext {
  @include text(2.2365rem, 160%);
  margin-bottom: 10rem;
  text-align: center;
}

.benefitsitems {
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 2rem;
}

.benefitsitem {
  padding: 0 1.78rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.benefitsitemimg {
  margin-bottom: 3rem;
  max-width: 7.8rem;
  img {
    width: 100%;
  }
}

.benefitsitemtitle {
  @include title(2.265rem, 140%, -2%);
  margin-bottom: 1rem;
  text-align: center;
}

.benefitsitemtext {
  @include text(1.6rem, 160%);
  text-align: center;
}

.benefitsbutton {
  display: flex;
  justify-content: center;
}

.benefitsdecor {
  position: absolute;
  left: 50%;
  bottom: -7.5rem;
  transform: translate(-50%);
}

@media (max-width: 1024px) {
  .benefitstitle {
    @include title(5rem, 120%, -2%);
  }

  .benefitstitledecor {
    width: 7rem;
    top: -2rem;
    right: -3rem;
  }
}

@media (max-width: 768px) {
  .benefits {
    padding: 8rem 0 14rem;
  }
  .benefitstitledecor {
    display: none;
  }

  .benefitstext {
  margin-bottom: 8rem;
}

  .benefitsitems {
    margin-bottom: 8rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .benefitsitem {
     padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .benefits {
    padding: 8rem 0;
  }

  .benefitsdecor {
    display: none;
  }

    .benefitstext {
  margin-bottom: 6rem;
}

  .benefitsitems {
	grid-template-columns: 1fr;
  }
}
