@use "../../_variables.scss" as *;

/*Talk-Listen*/
.talklisten {
	position: relative;
  padding: 14rem 0;
}

.title {
  @include title(5.93rem, 120%, -2%);
  margin: 0 auto 10rem;
  max-width: 77rem;
  text-align: center;
}

.items {
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.itemimg {
  margin-bottom: 4rem;
  max-width: 27.5rem;
  img {
    width: 100%;
  }
}

.itemtext {
  @include text(1.6rem, 160%);
  max-width: 47.2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    @include title(4.5rem, 120%, -2%);
  }

  .itemimg {
    max-width: 20rem;
  }

 
}

@media (max-width: 480px) {
  .talklisten {
    padding: 6rem 0;
  }

  .title {
    @include title(3.2rem, 120%, -2%);
    margin-bottom: 6rem;
  }

  .items {
    margin-bottom: 6rem;
    flex-direction: column;
  }

}