@use "../_variables.scss" as *;

.footer {
  padding: 14rem 0 8rem;
}

.content {
  padding-bottom: 14rem;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.1rem solid $textColorGrey;
}

.logoblock {
  margin-bottom: 4rem;
  display: flex;
  align-items: flex-end;
}

.logo {
  margin-right: 2.4rem;
  width: 7.4rem;
  img {
    max-width: 100%;
  }
}

.logotext {
  @include footertext(1.2rem);
}

.infotext {
  @include footertext(1.4rem);
  margin-bottom: 4rem;
  max-width: 27.5rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.footermenu {
  margin-right: 12.4rem;
  display: flex;
  gap: 9.3rem;
}

.footermenucolumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footermenuitem {
  @include footermenuitem($textColorDark);
}


.navigatioinfotext {
  @include footertext(1.6rem);
  margin-bottom: 2rem;
}

.navigatioinfoitems {
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  gap: 3.85rem;
}

.navigatioinfoitem {
  img {
    max-width: 100%;
  }
}

.copyright {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrightitem {
  @include footertext(1.2rem);
  color: $textColorGrey;
}

.copyrightitemred {
  color: $textColorRed;
}

.copyrightitems {
  @include footertext(1.2rem);
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

@media (max-width: 1024px) {
  .footer {
    padding: 8rem 0 4rem;
  }
  .content {
    padding-bottom: 4rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }

  .footermenu {
    margin-right: 5rem;
  }

  .navigatioinfo {
    padding-right: 5rem;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .footermenu {
    margin-right: 0;
    gap: 4rem;
    justify-content: end;
  }

  .navigatioinfo {
    padding-right: 0;
  }

  .navigatioinfoitem {
    max-width: 7rem;
    
  }
}

@media (max-width: 600px) {
   .footer {
    padding: 4rem 0 ;
  }

  .content {
    align-items: center;
  }

  .navigatioinfo {
    flex-direction: column;
  }

  .navigatioinfoitem {
    max-width: fit-content;
  }

  .infotext {
    max-width: 20rem;
  }
}

@media (max-width: 480px) {
  .content {
    padding-bottom: 4rem;
    grid-template-columns: 1fr;
  }

  .navigatioinfo{
    grid-column: 1/2;
  }

  .footermenu {
    justify-content:center;
    gap: 7rem;
  }

  .infotext {
    max-width: 100%;
  }

  .copyrightitem {
    display: flex;
    flex-direction: column;
  }
}