@use "../../_variables.scss" as *;

.hero {
  position: relative;
  padding: 8rem 0;
  background-color: $backgroundHeaderHero;
}

.linktoback {
  margin-bottom: 4.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease;

  &:hover {
    text-decoration: underline;
  }
}

.arrowtext {
  @include text(1.4rem, 160%);
}

.heroitems {
  position: relative;
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  z-index: 4;
}

.itemimg {
  flex: 0 0 47.2rem;
  border-radius: 1rem;
  img {
    width: 100%;
    box-shadow: 1.2rem 1.2rem 0 $textColorSliderTitle;
    border-radius: 1.2rem;
  }
}

.itemcontent {
  max-width: 57rem;
  padding: 1.75rem;
}

.contentheader {
  @include title(1.6rem, 160%, 0);
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $textColorRed;
}

.subtitle {
  @include title(1.6rem, 160%, 0);
  color: $textColorRed;
}

.title {
  @include title(3.665rem, 100%, 2%);
  margin-bottom: 2.3rem;
}

.info {
  padding: 0.3rem 0.6rem;
  border: 0.1rem solid $textColorRed;
  border-radius: 0.4rem;
}

.text {
  @include text(1.6rem, 160%);
  margin-bottom: 4rem;
  padding-top: 2rem;
  color: $textColorGrey;
  border-top: 0.1rem solid $textColorDark;
}

.host {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarblock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatartext {
  @include text(1.4rem, 160%);
  span {
    font-weight: 700;
    color: $textColorRed;
  }
}

.date {
  @include text(1.4rem, 160%);
  color: $textColorGrey;
}

.buttons {
  display: flex;
  gap: 2rem;
  button {
    height: 6.4rem;
  }
}

.buttonaudio {
	@include title(1.4rem, 160%, 0);
	padding: 2.1rem 3.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: $textColorDark;
	border: 0.2rem solid $textColorDark;
	border-radius: 0.8rem;
	box-shadow: 0.6rem 0.6rem 0 #BFBFBF;
	transition: all 0.5s ease;
	span {
		color: $textColorRed;
	}
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.tag {
  @include text(1.4rem, 160%);
  padding: 0.6rem 1.2rem;
  border: 0.1rem solid $textColorGrey;
  border-radius: 0.4rem;
  color: $textColorGrey;
}

.tagstext {
  @include title(1.4rem, 160%, 0);
  margin-right: 6rem;
  color: $textColorGrey;
}

.herodecorleft {
  @include decorSlider(left, bottom, -3rem, -5rem);
  max-width: 25rem;
  img {
    width: 100%;
  }
}

.herodecorright {
  @include decorSlider(right, bottom, 0, 4rem);
}

.textinfo {
	position: relative;
	padding: 8rem 0;
}

.textinfotitle {
	@include title(3.668rem, 140%, 2%);
	margin-bottom: 2rem;
	text-align: center;
}

.textinfocontent {
	@include text(1.6rem, 160%);
	p:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.episodes {
	position: relative;
	padding: 10rem 0;
	background-color: $backgroundHeaderHero;
}

.button {
	display: flex;
	justify-content: center;
}

@media (max-width: 1280px) {
  .herodecorleft,
  .herodecorright {
    display: none;
  }
}

@media (max-width: 1024px) {
  .heroitems {
    margin-bottom: 4rem;
  }

  .itemimg {
    flex: 0 0 30rem;
  }

  .itemcontent {
    max-width: 100%;
  }

  .info {
    font-size: 1.4rem;
  }

  .title {
    font-size: 3rem;
  }

  .text {
    margin-bottom: 2rem;
  }

  .host {
    margin-bottom: 4rem;
  }

  .buttons {
    button {
      height: 5rem;
    }
  }
}

@media (max-width: 768px) {
	.hero {
		padding: 4rem 0 4rem;
	}

	.heroitems {
		flex-direction: column;
		gap: 4rem;
	}

	  .itemimg {
    flex: 0 0 50rem;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
  }
}

@media (max-width: 600px) {
	.itemimg {
		flex: 0 1 40rem;
	}

	.itemcontent {
		padding: 1.75rem 0;
	}
}

@media (max-width: 480px) {
		.itemimg {
		flex: 0 1 30rem;
	}

	.title {
		font-size: 2.6rem;
	}
}

@media (max-width: 375px) {
		.itemimg {
		flex: 0 1 25rem;
	}

	.info {
		display: none;
	}

	.host {
		flex-direction: column;
	}

	.avatarblock {
		align-self: start;
	}

	.date {
		align-self: flex-end;
	}

	.buttons {
		flex-direction: column;
	}

	.tagstext {
	 margin-right: 2rem;
	}
}